/* Backgrounds com baixo brilho*/

.bg-img-home{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("imgs/bg-home.jpg");
    background-size: 100% ;
}

.bg-img-titulos{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("imgs/bg-titulos.webp");
    background-size: 100% ;
}

.bg-img-elenco{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("imgs/bg-elenco.jpg");
    background-size: 100% ;
}

.bg-img-arena{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("imgs/bg-arena.jpg");
    background-size: 100% ;
}

.bg-img-sorteio{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("imgs/bg-sorteio.png");
    background-size: 100% ;
}

/* Barra de Navegação */
.navbar {
    background-color: rgb(46, 46, 46) !important    ; 
    color: black; 
}

.nav-link{
    font-size: bold !important;
    color: white !important;
    margin-bottom: auto;
    margin-top: auto;
}

.active {
    font-size: bold;
    color: rgb(165, 165, 165) !important;
}

.nav-item {

    border: none;
    border-radius: 10px;
    padding: 0px;
    margin: 0 45px;
}


/* Font Poppins */
.poppins-semibold {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-bold {
    font-family: "Poppins", sans-serif!important;
    font-weight: 600;
    font-style: normal;
  }



.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 483;
  font-style: normal;
}
  
 



  /* Footer */

footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgb(46, 46, 46);
    color: #ffffff;
    box-sizing: border-box;
    margin: 50px auto 0px auto;
    font-family: "Poppins", sans-serif!important;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    
  }

.footer {
    margin: 15px auto;
}

/* Container Home */

.container {
    width: 80% !important;
    background-color: rgb(104, 104, 104);
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 rgba(0, 0, 0, 0.9);
}

.display-5{
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    padding: 20px;
    background-color: rgb(104, 104, 104);
    margin: auto auto;
    border-bottom: solid #000;
    border-top: solid #000;
 }

.content {
    color: #ffffff;
    font-weight: 200;
    padding: 10px 40px 10px 40px;
    font-size: 30px;
}


/* Imagens */

.img-fluid{
    border: none;
    display: flex;
    margin: 50px auto 10px;
    box-sizing: border-box;
    width: 400px;
    
}

.img {
    border: none;
    display: flex;
    margin: 50px auto;
    height: 600px;
}

.img-fluid2{
    border: none;
    display: flex;
    margin: 50px auto;
    box-sizing: border-box;
    width: 350px;
}

.img2 {
    border: none;
    display: flex;
    margin: 50px auto;
    height: 600px!important;
    
}

/* Aba de Títulos*/

.list-group {
    background-color: rgb(104, 104, 104);    
    width: 750px !important;
    color: rgb(104, 104, 104);
    display: grid;
    border: none;
}

.list-group-item {
    background-color: rgb(104, 104, 104);
}

.list-group-border {
    background-color: rgb(104, 104, 104);
    border: gray solid;
}

.li {
    background-color: rgb(104, 104, 104)    ;
}

.title-lista {
    color: #FFF;
    align-items: center !important;
    font-size: xx-large;
    width: 100%;
    justify-content: center !important;
    display: grid;
    font-weight: bolder;
    font-family: raleway;
    padding-top: 10px;
}

h4 {
    padding: 15px;
    justify-self: center !important;
    display: grid !important;
    color: #fff;
}

#lista-titulos {
    background-color: rgb(165, 165, 165) !important;
}

/* Tabela elenco */

.tabela th {
    background-color: rgb(104, 104, 104) !important; /* Cor de fundo do cabeçalho */
    color: #fff !important; /* Cor do texto do cabeçalho */
    font-size: large;
}

.tabela td {
    background-color: rgb(104, 104, 104) !important; /* Cor de fundo do cabeçalho */
    color: #fff !important; /* Cor do texto do cabeçalho */
    font-size: x-large;
}

.rounded {
    margin-left: 55px !important;
}

.title-elenco {
    background-color: rgb(104, 104, 104);
    border: none 1px white;
    color: white;
    width: 600px;
    padding: 10px;
    margin-top: 70px;
    align-content: center;
    display: grid;
    justify-content: center;
    font-weight: bolder;
}

.bi-caret-right-fill {
    width: 15px !important;
}


/*Forms*/

.container-form {
    color: white !important;
    padding: 10px;
    margin-bottom: 70px;
}

label {
    color: white;
    padding: 10px;
    font-family: raleway;
    font-size: larger;
    
}

input {
    border: none;
}

input:empty {
    opacity: 1;

}

input:focus {
    opacity: 1;
}


.btn {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 0;
}
